# Front end
/client/                                @joulev
/__tests__/client/                      @joulev
/types/client/                          @joulev

/config/monaco.ts                       @joulev
/config/jest/svgMock.js                 @joulev
/config/tailwindTheme.js                @joulev
/others/latex/                          @joulev
/public/                                @joulev
/templates/                             @joulev
/jest.client.config.js                  @joulev
/next-env.d.ts                          @joulev
/next.config.mjs                        @joulev
/postcss.config.js                      @joulev
/tailwind.config.js                     @joulev


# Back end
/server/                                @VietAnh1010
/__tests__/server/                      @VietAnh1010
/types/server/                          @VietAnh1010

/config/jest/serverEnv.js               @VietAnh1010
/config/jest/firebase/                  @VietAnh1010
/firebase.json                          @VietAnh1010
/jest.server.config.js                  @VietAnh1010


# Pages directory
/pages/                                 @joulev
/pages/api/                             @VietAnh1010
/pages/api/project-log/joulev.ts        @joulev
