@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    ::selection {
        @apply bg-indigo-500 text-white;
        text-shadow: none;
    }
    .a {
        @apply text-indigo-500 hover:underline hover:text-indigo-700 dark:hover:text-indigo-300
            transition underline-offset-4 cursor-pointer;
    }
}
