@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    ::selection {
        @apply bg-indigo-500 text-white;
        text-shadow: none;
    }
    .a {
        @apply text-indigo-500 hover:underline hover:text-indigo-700 dark:hover:text-indigo-300
            transition underline-offset-4 cursor-pointer;
    }
    h1 {
        @apply text-4xl font-light mt-9 mb-6;
    }
    h2 {
        @apply text-2xl font-semibold mt-9 mb-6;
    }
    hr {
        @apply my-9 border-neutral-300 dark:border-neutral-700;
    }
    p {
        @apply mb-6;
    }
    /* Make div bounding consistent, not even sure if this is a good idea */
    div :where(h1, h2, h3, h4, h5, h6, p):first-child {
        @apply mt-0;
    }
    hr + :where(h1, h2, h3, h4, h5, h6, p) {
        @apply mt-0;
    }
    strong {
        @apply font-bold;
    }
    form:invalid button:not([type="button"]):not([type="reset"]) {
        @apply cursor-not-allowed text-neutral-500 bg-neutral-300 dark:bg-neutral-700
            border-neutral-300 dark:border-neutral-700;
    }
    /* NProgress */
    #nprogress {
        @apply pointer-events-none;
    }
    #nprogress .bar {
        @apply bg-indigo-500 fixed z-[60] top-0 left-0 w-full h-0.5;
    }
}

html {
    -webkit-tap-highlight-color: transparent;
}
