@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer components {
    ::selection {
        @apply bg-indigo-500 text-white;
        text-shadow: none;
    }
    .a {
        @apply text-primary hover:text-indigo-700 dark:hover:text-indigo-300
            hover:underline transition underline-offset-4 cursor-pointer;
    }
    h1 {
        @apply text-4xl font-light mt-9 mb-6;
    }
    h2 {
        @apply text-2xl font-semibold mt-9 mb-6;
    }
    hr {
        @apply my-9 border-neutral-300 dark:border-neutral-700;
    }
    p {
        @apply mb-6;
    }
    /* Make div bounding consistent, not even sure if this is a good idea */
    div :where(h1, h2, h3, h4, h5, h6, p):first-child {
        @apply mt-0;
    }
    hr + :where(h1, h2, h3, h4, h5, h6, p) {
        @apply mt-0;
    }
    strong {
        @apply font-bold;
    }
    form:invalid button:not([type="button"]):not([type="reset"]) {
        @apply cursor-not-allowed text-muted bg-neutral-300 dark:bg-neutral-700
            border-neutral-300 dark:border-neutral-700;
    }
    .text-muted {
        @apply text-neutral-400 dark:text-neutral-500;
    }
    .text-primary {
        @apply text-indigo-500 dark:text-indigo-400;
    }
    .bg-card {
        @apply bg-white dark:bg-black;
    }
    .border-card {
        @apply border-neutral-300 dark:border-neutral-700;
    }
    /* NProgress */
    #nprogress {
        @apply pointer-events-none;
    }
    #nprogress .bar {
        @apply bg-indigo-500 fixed z-[60] top-0 left-0 w-full h-0.5;
    }
    /* Docs */
    .docs h1 {
        @apply mb-12;
    }
    .docs h2 {
        @apply text-3xl font-semibold mt-12 mb-9;
    }
    .docs h3 {
        @apply text-2xl font-semibold mt-12 mb-9;
    }
    .docs h4 {
        @apply text-xl font-light mt-9 mb-6;
    }
    .docs :not(pre) > code {
        @apply text-sm px-1 py-0.5 bg-neutral-300 dark:bg-neutral-700 rounded;
    }
    .docs pre {
        @apply text-sm border p-3 rounded mb-6
            bg-card  border-neutral-300 dark:border-neutral-700;
    }
    .docs ul {
        @apply list-disc ml-9;
    }
    .docs ul li {
        @apply mb-3;
    }
    .docs ul li:last-child {
        @apply mb-6;
    }
    .docs blockquote {
        @apply mb-6 italic ml-6 relative text-neutral-700 dark:text-neutral-300
            before:absolute before:-left-6 before:inset-y-0 before:w-1 before:bg-neutral-500 before:rounded;
    }
}

html {
    -webkit-tap-highlight-color: transparent;
}
