.link {
    @apply relative after:absolute after:top-full after:inset-x-0 after:h-1 after:transition-all;
}
.link::after {
    background-image: linear-gradient(var(--link-bg), var(--link-bg)),
        linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat, no-repeat;
}
.link:hover::after {
    background-size: 0 1.5px, 100% 1.5px;
}
